{% extends "myapp/base.html" %}
{% load static %}
{% block content %}

<div class="grid-experience">
    <div class="item-experience">
        <p>Here's My</p>
        <h1>Experience</h1>
    </div>
    <div class="item-experience experience">
        <div class="grid-exp">
            <div class="item-exp">
                <div class="title-exp">
                    <p>Peserta Lomba Inovasi Digital Mahasiswa</p>
                </div>
                <div class="year">
                    <p>2024</p>
                </div>
                <hr>
                <div class="description-exp">
                    <p>Lolos tahap UPI pada lomba divisi Inovasi Pembelajaran Digital Pendidikan (IPDP) 
                        dengan membuat sebuah inovasi media pembelajaran untuk membantu mengenalkan 
                        artificial intelligence yang melalui materi ejaan bahasa Inggris kepada siswa 
                        sekolah dasar</p>
                </div>
            </div>
            <div class="item-exp prakerin">
                <div class="title-exp">
                    <p>IT Support di Direktorat Teknologi Informasi ITB</p>
                </div>
                <div class="year">
                    <p>Juli 2022 - Desember 2022</p>
                </div>
                <hr>
                <div class="description-exp">
                    <p>Melakukan pengecekan jaringan di gedung-gedung ITB Ganesha, manajemen lab komputer, 
                        rekap data harian, pelatihan network mapping menggunakan Netspot, dan membangun 
                        high availability cluster menggunakan Proxmox VE 7.2 untuk virtualisasi server di 
                        ITB kampus Cirebon sebagai tugas akhir</p>
                </div>
            </div>
            <div class="item-exp">
                <div class="title-exp">
                    <p>Asisten Pelatihan Network Security</p>
                </div>
                <div class="year">
                    <p>Oktober 2022</p>
                </div>
                <hr>
                <div class="description-exp">
                    <p>Menyiapkan modul pelatihan network security dan menyiapkan tools penetration testing</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}