{% extends "myapp/base.html" %}
{% load static %}
{% block content %}

<div class="title-qualification">
    <p>Here's My</p>
    <h1>Qualification</h1>
</div>
<div class="grid-qualification">
    <div class="item-qualification">
        <div class="text">
            <h2>Education</h2>
            <hr>
        </div>
        <div class="grid-edu">
            <div class="item-edu">
                <div class="title-edu">
                    <h2>Universitas Pendidikan Indonesia</h2>
                </div>
                <div class="year-edu">
                    <p>2023 - Now</p>
                </div>
                <hr>
                <div class="desc-edu">
                    <p>Pendidikan Ilmu Komputer</p>
                </div>
            </div>
            <div class="item-edu">
                <div class="title-edu">
                    <h2>SMK Negeri 1 Cimahi</h2>
                </div>
                <div class="year-edu">
                    <p>2019 - 2023</p>
                </div>
                <hr>
                <div class="desc-edu">
                    <p>Sistem Informatika Jaringan dan Aplikasi</p>
                </div>
            </div>
        </div>
    </div>
    <div class="item-qualification">
        <div class="text">
            <h2>Certificate</h2>
            <hr>
        </div>
        <div class="grid-certif">
            <div class="item-certif">
                <div class="name-certif">
                    <p>MikroTik Certified Network Associate</p>
                </div>
                <div class="year-certif">
                    <p>2023</p>
                </div>
                <hr>
                <div class="button-certif">
                    <a href="https://drive.google.com/file/d/14-lYozufEEpzZro9lGCf21Mpb7tSD5fJ/view?usp=sharing">Read More</a>
                </div>
            </div>
            <div class="item-certif">
                <div class="name-certif">
                    <p>CompTIA Linux+ ce Certification</p>
                </div>
                <div class="year-certif">
                    <p>2022</p>
                </div>
                <hr>
                <div class="button-certif">
                    <a href="https://drive.google.com/file/d/1det0AxHRAfCj8p3-aMJCWDwVtlWhSiKH/view?usp=sharing">Read More</a>
                </div>
            </div>
            <div class="item-certif">
                <div class="name-certif">
                    <p>Introduction to Internet of Things</p>
                </div>
                <div class="year-certif">
                    <p>2021</p>
                </div>
                <hr>
                <div class="button-certif">
                    <a href="https://drive.google.com/file/d/12VL8gDm6ZvBqqsjlhAkabObsN4NeYfs6/view?usp=sharing">Read More</a>
                </div>
            </div>
            <div class="item-certif">
                <div class="name-certif">
                    <p>PCAP: Programming Essentials in Python</p>
                </div>
                <div class="year-certif">
                    <p>2020</p>
                </div>
                <hr>
                <div class="button-certif">
                    <a href="https://drive.google.com/file/d/146ot9D1vzveMsXhSsVrhp35Urar10McZ/view?usp=sharing">Read More</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}